*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.gradle
/.idea
datetimepicker-library/build/generated/assets/
datetimepicker-library/build/generated/res/
datetimepicker-library/build/generated/source/aidl/
datetimepicker-library/build/generated/source/apt/
datetimepicker-library/build/generated/source/rs/
datetimepicker-library/build/intermediates/bundles/debug/aidl/
datetimepicker-library/build/intermediates/bundles/debug/assets/
datetimepicker-library/build/intermediates/bundles/debug/jni/
datetimepicker-library/build/intermediates/bundles/debug/libs/
datetimepicker-library/build/intermediates/bundles/release/aidl/
datetimepicker-library/build/intermediates/bundles/release/assets/
datetimepicker-library/build/intermediates/bundles/release/jni/
datetimepicker-library/build/intermediates/bundles/release/libs/
datetimepicker-library/build/intermediates/dependency-cache/
datetimepicker-library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
datetimepicker-library/build/intermediates/incremental/packageDebugAndroidTest/
datetimepicker-library/build/intermediates/incremental/packageDebugResources/aapt-temp/
datetimepicker-library/build/intermediates/incremental/packageReleaseResources/aapt-temp/
datetimepicker-library/build/intermediates/incremental/processDebugAndroidTestResources/
datetimepicker-library/build/intermediates/incremental/processDebugResources/
datetimepicker-library/build/intermediates/incremental/processReleaseResources/
datetimepicker-library/build/intermediates/jniLibs/
datetimepicker-library/build/intermediates/lint/
datetimepicker-library/build/intermediates/manifest/tmp/
datetimepicker-library/build/intermediates/rs/
datetimepicker-library/build/intermediates/shaders/
datetimepicker-library/build/intermediates/transforms/
datetimepicker-library/build/tmp/
libraryauto/build/generated/assets/
libraryauto/build/generated/res/
libraryauto/build/generated/source/aidl/
libraryauto/build/generated/source/apt/
libraryauto/build/generated/source/rs/
libraryauto/build/intermediates/annotations/
libraryauto/build/intermediates/bundles/debug/aidl/
libraryauto/build/intermediates/bundles/debug/assets/
libraryauto/build/intermediates/bundles/debug/jni/
libraryauto/build/intermediates/bundles/debug/libs/
libraryauto/build/intermediates/bundles/release/aidl/
libraryauto/build/intermediates/bundles/release/assets/
libraryauto/build/intermediates/bundles/release/jni/
libraryauto/build/intermediates/bundles/release/libs/
libraryauto/build/intermediates/dependency-cache/
libraryauto/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/assets/
libraryauto/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/jni/
libraryauto/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/libs/
libraryauto/build/intermediates/exploded-aar/com.android.support/support-v4/23.4.0/res/
libraryauto/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
libraryauto/build/intermediates/incremental/mergeDebugResources/aapt-temp/
libraryauto/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
libraryauto/build/intermediates/incremental/packageDebugAndroidTest/
libraryauto/build/intermediates/incremental/packageDebugResources/aapt-temp/
libraryauto/build/intermediates/incremental/packageReleaseResources/aapt-temp/
libraryauto/build/intermediates/incremental/processDebugAndroidTestResources/
library
auto/build/intermediates/incremental/processDebugResources/
libraryauto/build/intermediates/incremental/processReleaseResources/
libraryauto/build/intermediates/jniLibs/
libraryauto/build/intermediates/lint/
libraryauto/build/intermediates/manifest/tmp/
libraryauto/build/intermediates/rs/
libraryauto/build/intermediates/shaders/
libraryauto/build/intermediates/transforms/
libraryauto/build/tmp/
